<style>
	body { float: left }
	div { height:3px; } 
	b { height: 1px; display: block; background: #999; margin: 3px 0; }
	i { float:left; display:block; width:3px; height:3px; background: #FAFAFA; }
	i.S, i.N, i.B { box-shadow: 0 0 2px rgba(255,0,0,0.5); position: relative }
	i.D { background: #000; z-index: 25; box-shadow: 0 0 4px rgba(0,0,0,0.9); }
	i.B { background: #00a; z-index: 12; box-shadow: 0 0 4px rgba(0,0,90,0.9); }
	i.I { background: #0a0; z-index: 15; box-shadow: 0 0 4px rgba(0,90,0,0.9); }
	i.sep { width: 1px; margin: 0 2px; background: #eee; }
	
	.hist { overflow: hidden; border: 1px solid #eee; margin: 10px 0; }
	.hist > div { width: 10px; background: #aaa; float: left; margin-right: 1px; height: 200%; text-align: center; font-size: 10px; }
</style>
